#myVideo {
    position: sticky;
    left: 0;
    top: 0;
background-repeat: no-repeat;
/* background-size: cover; */
/* background-position: center; */

    /* right: 0; */
    /* bottom: 10;/ */
    height: 100vh;
    width: 100vw;
   
}

.Home-card {
    width: 380px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.content {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    /* top: 100px; */
    /* left: 70%; */
    /* right: 0; */
    top: 30%;
    left: 35%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 30%;
    height: 40%;
    border-radius: 2rem;
    padding: 15px;
}

.myBtn {
    width: 200px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 40px;
    border: none;
    background-color: #000;
    color: white;
    cursor: pointer;
}

.myBtn:hover {
    background-color: white;
    color: #000;
}